<h2>Welcome to the Hancock Rails Client</h2>
<p>This is an example of rails metal using rack middleware.  The middleware
  itself was written in Sinatra.  Rack is awesome.</p>

<table>
  <thead>
    <tr><td>Key</td><td>Value</td></tr>
  </thead>
  <tbody>
    <% session.each do |key, value| %>
      <tr><td><%= key %></td><td><%= value %></tr>
    <% end %>
  </tbody>
</table>
